.paragraphContainer {
  font-size: 16px;
  line-height: 20px;
  color: #606060;
  white-space: pre-line;
  margin-bottom: 10px;
}

.boxListContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  line-height: 20px;
  margin-top: 30px;
}

.boxListContainer p {
  color: #00A752;
  white-space: pre-line;
  align-self: center;
}

.boxListContainer button {
  background-color: #A8E3AE;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  height: 60px;
  min-width: 400px;
  cursor: pointer;
}

@media (max-width: 1380px) {
  .boxListContainer {
    flex-direction: column;
    margin-top: 25px;
  }

  .boxListContainer button {
    min-width: 100%;
    margin-top: 25px;
  }

  .boxListContainer p {
    align-self: unset;
  }
}

@media (max-width: 796px) {
  .boxListContainer p {
    white-space: unset;
  }
}

@media (max-width: 768px) {
  .boxListContainer p {
    white-space: pre-line;
  }
}

@media (max-width: 577px) {
  .boxListContainer p {
    white-space: unset;
  }
}