.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 140px;
}

.ssText {
  font-family: "SS";
  color: #00a752;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
}

.title img {
  width: 180px;
  height: 180px;
}

@media (max-width: 965px) {
  .title {
    margin-top: 170px;
  }
}

@media (max-width: 768px) {
  .title img {
    display: none;
  }

  .ssText {
    font-size: 28px;
    line-height: 35px;
    text-align: center;
  }

  .title {
    justify-content: center;
    margin-bottom: 50px;
  }
}
