.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 85px;
}

.ssText {
    font-family: "SS";
    color: #00A752;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
}

.title img {
    width: 180px;
    height: 180px;
}