.paragraphContainer {
  font-size: 16px;
  line-height: 20px;
  color: #606060;
  white-space: pre-line;
  margin-bottom: 10px;
}

.secondaryTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 10px;
}