* {
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: "TTnorms";
    src: url('./assets/fonts/TTNorms-Regular.woff2');
}

@font-face {
    font-family: "SS";
    src: url('./assets/fonts/ShantellSans-Regular.ttf');
}