.itemContainer, .itemContainerHelp {
  width: calc((70vw / 3) - 20px);
  background-color: #F5F5F5;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.itemContainerHelp {
  margin-left: 10px;
}
  
.itemImage {
  width: 100%;
  height: 340px;
  object-fit: cover;
  object-position: 50% 0;
  border-radius: 20px 20px 0 0;
}

.itemImageAlt {
  width: 100%;
  height: 340px;
  top: 0;
  object-fit: cover;
  object-position: 50% 0;
  border-radius: 20px 20px 0 0;
}
  
.contentContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
   
.nameYearContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
  
.name, .year {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.historyContainer {
  display: flex;
  flex-direction: column;
}
  
.history {
  font-size: 16px;
  color: #606060;
  text-align: left;
  display: block;
  position: relative;
  max-height: 76px;
  overflow: hidden;
}

.historyEllipsis {
  display: block;
  text-align: left;
}
  
.fundingContainer {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 20px;
  row-gap: 5px;
}
  
.fundingLabel {
  font-size: 14px;
  text-align: left;
  white-space: nowrap;
}
  
.fundingValue {
  font-size: 14px;
  text-align: left;
}
  
.actionsContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}
  
.helpButton {
  width: calc(70% - 60px);
  height: 40px;
  background-color: #A8E3AE;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
  
.helpButton:hover {
  background-color: #98D39E;
}
  
.readStoryLink {
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
}

.singleImage {
  width: 100%;
  border-radius: 20px;
}

.sectionContainer {
  margin-top: 100px;
  width: 100%;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.sectionTitle {
  font-family: 'TTnormsBold';
  font-size: 35px;
  text-align: left;
  margin: 0;
}

.readMoreLink {
  font-family: 'TTnormsBold';
  font-size: 20px;
  text-decoration: underline;
  color: #606060;
  text-align: right;
}

.readMoreLink:hover {
  color: #555;
}

.helpedCards, .newsCards {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
  row-gap: 25px;
}

.helpNeededCarousel, .ourProjectsCarousel {
  margin: 0;
  width: 100%;
}

.heroWrapper {
  position: relative;
  width: 100%;
}

.heroContainer {
  width: 100%;
}

.heroImage {
  width: calc(100% / 70 * 100);
  height: 0;
  padding-bottom: 89.286%;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: -125px;
  margin-left: calc(-100% / 70 * 15);
  z-index: 0;
  border-radius: 50px;
}

.heroContent {
  position: absolute;
  top: 130px;
  left: 15%;
  right: 15%;
  z-index: 1;
}

.contentBelow {
  position: relative;
  z-index: 0;
}

@media (max-width: 1460px) {
  .itemContainerHelp {
    width: calc(35vw - 20px)
  }
}

@media (max-width: 975px) {
  .itemContainerHelp {
    width: calc(100% - 20px);
  }

  .itemContainer {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 28px;
  }
  
  .readMoreLink {
    font-size: 16px;
  }
  
  .sectionTitle {
    font-size: 24px;
  }
  
  .helpedCards,
  .newsCards {
    padding: 0;
  }
  
  .heroImage {
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-top: 50px;
    padding-bottom: 60%;
    border-radius: 30px;
  }
  
  .heroContent {
    left: 20px;
    right: 20px;
    top: -50px;
  }
}

@media (max-width: 602px) {
  .heroImage {
    margin-top: 85px;
  }

  .heroContent {
    top: -85px;
  }
}

@media (max-width: 350px) {
  .heroImage {
    margin-top: 120px;
  }

  .heroContent {
    top: -120px;
  }
}